<IfModule mod_rewrite.c>


# END WordPress
RewriteEngine on
Redirect 301 "/index.html" "/"
# Force www: from http://stackoverflow.com/a/4958847/1078583
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# Force SSL: From http://stackoverflow.com/q/24322035/
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]

  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS


  # Redirect Trailing Slashes...
  # RewriteRule ^(.*)/$ /$1 [L,R=301]

  # Handle Front Controller...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]



#   these two lines of code will make user not to interact any file but index.php

AddType text/cache-manifest .manifest
# RewriteCond %{REQUEST_FILENAME} !^/(index\.html|index\.php)$
# RewriteRule ^.+\.(php|html) - [F]

</IfModule>