@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{ font-family: 'Playfair Display', serif !important; }
p, a, span, li, button, input, textarea{font-family: 'Poppins', sans-serif !important;}
ul{margin: 0 !important; padding: 0 !important; list-style: none !important; }
a{text-decoration: none !important; }
p{margin: 0 !important; }

html {
  scroll-behavior: smooth !important;
}

.menu ul li a {
  padding: 0 !important;
  color: #141414 !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.menu ul {
  align-items: center;
}

div#navbarSupportedContent {
  justify-content: end;
}

.menu ul li {
  margin: 0 0 0 30px;
}

.global_btn {
  display: flex;
  align-items: center;
}

.global_btn button {
  margin: 0 0 0 15px;
  border: 1px solid #141414;
  border-radius: 30px;
  padding: 0 15px;
  height: 55px;
}

.global_btn button a {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.global_btn button:nth-child(2) {
  border: 1px solid #FF9400;
}

.global_btn button:hover {
  background: #141414;
  transition: 0.5s;
}

.menu ul li .global_btn button:hover a, .global_btn button:hover a {
  color: #fff !important;
  transition: 0.5s;
}

.global_btn button:nth-child(2):hover {
  background: #FF9400;
}

header.main_header {
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.menu ul li a:hover {
  color: #fd9301 !important;
}

footer.main_footer {
  padding: 60px 0;
}

.footer_inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.footer_inner img {
  margin: 0 30px 0 0px;
  width: 830px;
}

.footer_inner p, .footer_inner a {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Playfair Display', serif !important;
}

.footer_inner a {
  color: #1E1E1E;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline !important;
}

.footer_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_badge {
  text-align: right;
  margin: 20px 0 0 0;
}

section.sec_1 {
  padding: 80px 0;
}

.sec_1.home_banner {
  position: relative;
  background: url('../images/home-banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.sec_1.home_banner .banner_inner {
  text-align: left;
}

.sec_1.home_banner .banner_inner h1 {
  text-align: left;
  margin: 0 0 20px;
}

.sec_1.home_banner .global_btn.text-center {
  justify-content: flex-start;
}

.banner-form {
  position: relative;
  background-color: rgb(35, 31, 32, 0.8);
  color: #fff;
  padding: 30px 45px 50px;
  backdrop-filter: blur(5px);
}

.banner-form .theme-h3, .banner-form .theme-p {
  text-align: center;
}

.theme-h3 {
  font-family: "CabinetGrotesk";
  font-size: 26px;
  margin-bottom: 10px;
}

.theme-p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-bottom: 15px;
}

.banner-form .input-field input, .banner-form .input-field textarea, .banner-form .input-field select {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}

.banner-form .input-field select option {
  color: #000 !important;
}

.banner-form button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  padding: 12px 45px;
}

/* .btn-icon::after {
  content: '\f054';
  font-family: "Font Awesome 6 Pro";
  padding-left: 10px;
  font-size: 14px;
} */

.theme-btn:before {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 15em);
}

.theme-btn-outline:hover, .theme-btn-outline.active, .theme-btn-featured {
  background: linear-gradient(180deg, rgba(250, 152, 0, 1) 0%, rgba(213, 112, 2, 1) 100%);
  color: #000;
  border-color: transparent;
}

.theme-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
}

.theme-btn:hover::before, .theme-btn:focus::before {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}

.banner_inner {
  text-align: center;
  margin: 0 0 60px 0;
}

.banner_inner h1 {
  color: #141414;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.global_btn.text-center {
  justify-content: center;
  margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{ font-family: 'Playfair Display', serif !important; }
p, a, span, li, button, input, textarea{font-family: 'Poppins', sans-serif !important;}
ul{margin: 0 !important; padding: 0 !important; list-style: none !important; }
a{text-decoration: none !important; }
p{margin: 0 !important; }

.menu ul li a {
  padding: 0 !important;
  color: #141414 !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.menu ul {
  align-items: center;
}

div#navbarSupportedContent {
  justify-content: end;
}

.menu ul li {
  margin: 0 0 0 30px;
}

.global_btn {
  display: flex;
  align-items: center;
}

.global_btn button {
  margin: 0 0 0 15px;
  border: 1px solid #141414;
  border-radius: 30px;
  padding: 0 15px;
  height: 55px;
}

.global_btn button a {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #141414;
  font-style: normal;
  line-height: normal;
}

.global_btn button:nth-child(2) {
  border: 1px solid #FF9400;
}

.global_btn button:hover {
  background: #141414;
  transition: 0.5s;
}

.menu ul li .global_btn button:hover a {
  color: #fff !important;
  transition: 0.5s;
}

.global_btn button:nth-child(2):hover {
  background: #FF9400;
}

header.main_header {
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.menu ul li a:hover {
  color: #fd9301 !important;
}

footer.main_footer {
  padding: 60px 0;
}

.footer_inner {
  display: flex;
  align-items: center;
}

.footer_inner img {
  margin: 0 30px 0 0px;
}

.footer_inner p, .footer_inner a {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Playfair Display', serif !important;
}

.footer_inner a {
  color: #1E1E1E;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline !important;
}

.footer_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_badge {
  text-align: right;
  margin: 20px 0 0 0;
}

section.sec_1 {
  padding: 80px 0;
}

.banner_inner {
  text-align: center;
  margin: 0 0 60px 0;
}

.banner_inner h1 {
  color: #141414;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.global_btn.text-center {
  justify-content: center;
  margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{ font-family: 'Playfair Display', serif !important; }
p, a, span, li, button, input, textarea{font-family: 'Poppins', sans-serif !important;}
ul{margin: 0 !important; padding: 0 !important; list-style: none !important; }
a{text-decoration: none !important; }
p{margin: 0 !important; }

.menu ul li a {
  padding: 0 !important;
  color: #141414 !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.menu ul {
  align-items: center;
}

div#navbarSupportedContent {
  justify-content: end;
}

.menu ul li {
  margin: 0 0 0 30px;
}

.global_btn {
  display: flex;
  align-items: center;
}

.global_btn button {
  margin: 0 0 0 15px;
  border: 1px solid #141414;
  border-radius: 30px;
  padding: 0 15px;
  height: 55px;
}

.global_btn button a {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.global_btn button:nth-child(2) {
  border: 1px solid #FF9400;
}

.global_btn button:hover {
  background: #141414;
  transition: 0.5s;
}

.menu ul li .global_btn button:hover a, .global_btn button:hover a {
  color: #fff !important;
  transition: 0.5s;
}

.global_btn button:nth-child(2):hover {
  background: #FF9400;
}

header.main_header {
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.menu ul li a:hover {
  color: #fd9301 !important;
}

footer.main_footer {
  padding: 60px 0;
}

.footer_inner {
  display: flex;
  align-items: center;
}

.footer_inner img {
  margin: 0 30px 0 0px;
}

.footer_inner p, .footer_inner a {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Playfair Display', serif !important;
}

.footer_inner a {
  color: #1E1E1E;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline !important;
}

.footer_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_badge {
  text-align: right;
  margin: 20px 0 0 0;
}

section.sec_1 {
  padding: 80px 0;
}

.banner_inner {
  text-align: center;
  margin: 0 0 60px 0;
}

.banner_inner h1 {
  color: #141414;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.global_btn.text-center {
  justify-content: center;
  margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{ font-family: 'Playfair Display', serif !important; }
p, a, span, li, button, input, textarea{font-family: 'Poppins', sans-serif !important;}
ul{margin: 0 !important; padding: 0 !important; list-style: none !important; }
a{text-decoration: none !important; }
p{margin: 0 !important; }

.menu ul li a {
  padding: 0 !important;
  color: #141414 !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.menu ul {
  align-items: center;
}

div#navbarSupportedContent {
  justify-content: end;
}

.menu ul li {
  margin: 0 0 0 30px;
}

.global_btn {
  display: flex;
  align-items: center;
}

.global_btn button {
  margin: 0 0 0 15px;
  border: 1px solid #141414;
  border-radius: 30px;
  padding: 0 15px;
  height: 55px;
  background: none;
}

.global_btn button a {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #141414;
  font-style: normal;
  line-height: normal;
}

.global_btn button:nth-child(2) {
  border: 1px solid #FF9400;
}

.global_btn button:hover {
  background: #141414;
  transition: 0.5s;
}

.menu ul li .global_btn button:hover a {
  color: #fff !important;
  transition: 0.5s;
}

.global_btn button:nth-child(2):hover {
  background: #FF9400;
}

header.main_header {
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.menu ul li a:hover {
  color: #fd9301 !important;
}

footer.main_footer {
  padding: 60px 0 0 0;
}

.footer_inner {
  display: flex;
  align-items: center;
}

.footer_inner img {
  margin: 0 30px 0 0px;
}

.footer_inner p, .footer_inner a {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Playfair Display', serif !important;
}

.footer_inner a {
  color: #1E1E1E;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline !important;
}

.footer_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_badge {
  text-align: right;
  margin: 20px 0 0 0;
}

section.sec_1 {
  padding: 80px 0 30px 0;
}

.banner_inner {
  text-align: center;
  margin: 0 0 60px 0;
}

.banner_inner h1 {
  color: #141414;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.global_btn.text-center {
  justify-content: center;
  margin-top: 40px;
}

section.sec_1 .row {
  padding-bottom: 60px;
  position: relative;
}

section.sec_2 {
  padding: 80px 0;
}

.words_inner h2 {
  color: #FF9400;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 15px 0;
}

.words_inner p {
  color: #141414;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.words_inner .global_btn {
  margin: 20px 0 0 0;
}

.words_inner .global_btn button:nth-child(1) {
  margin: 0;
}

.words_img img {
  width: 100%;
}

section.sec_3 {
  padding: 0 0 0 0;
}

.table_inner {
  text-align: center;
}

.table_inner h2 {
  color: #FF9400;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.table_inner p {
  color: #141414;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 75%;
  margin: auto !important;
}

.table_box img {
    margin: 0 0 10px 0;
}

.table_box h4 {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.table_box p {
    color: #141414;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_btom_border {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px !important;
}

.top_btom_border:before, .top_btom_border:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/border.png);
  background-repeat: no-repeat;
  width: 1030px;
  height: 16px;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.borderChange .top_btom_border:before{
  top: -10%;
}

.top_btom_border:after{
    background-image: url(../images/border.png);
    top: unset;
    bottom: 5%;
}

.table_box {
  width: 85%;
  margin: auto;
}

.btn_wrap .global_btn {
    justify-content: center;
}

section.sec_4 {
  padding: 80px 0;
}

.service_inner h5 {
  color: #1E1E1E;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 10px 0;
}

.service_inner h2 {
  color: #FF9400;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  margin: 0 0 20px 0;
}

.service_inner ul {
  margin: 30px 0 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_inner ul li {
  flex: 0 0 32%;
  margin: 0;
}

.service_inner ul li h4 {
  margin: 0 0 15px 0;
  color: #1E1E1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service_inner ul li p {
  color: #141414;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.sec_5 {
  padding: 0 0 60px 0;
}

.process_inner {
  text-align: center;
}

.process_inner h2 {
  color: #FF9400;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  margin: 0 0 15px 0;
}

.process_inner p {
  color: #141414;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.process_points ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0 !important;
  gap: 20px;
  flex-wrap: wrap;
}

.process_points ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.process_points ul li span {
  color: #FF9400;
  font-size: 76.657px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 15px 0 0;
}

.process_points ul li .shape_box p {
  color: #141414;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0 0 !important;
}

section.sec_6 {
  padding: 0 0 0 0;
}

.work_inner h2 {
  color: #FF9400;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;  
  margin: 0;
}

.spacing_wrap {
  padding-top: 40px !important;
  padding-bottom: 120px !important;
}

/* .spacing_wrap:after {
  display: none;
} */

.work_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.work_box .item_wrap h3 {
  color: #1E1E1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 2px solid #FF9400;
  margin: 0px 0 20px 0;
  padding: 0 0 20px 0;
}

.work_box .item_wrap:nth-child(1) {border-right: 2px solid #ff9400;}

.work_box .item_wrap p {
  color: #141414;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spacing_wrap:before {
  top: 4%;
}

section.sec_7 {
  padding: 60px 0;
}

.client_inner h5 {
  color: #1E1E1E;
  font-family: Tobias;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.client_inner h2 {
  color: #FF9400;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  margin: 0;
}

.client_sldier_inner ul li {
}
.client_sldier_inner .slick-next::before,
.client_sldier_inner .slick-prev::before {
  display: none;
}

.client_sldier_inner button.slick-prev.slick-arrow,
.client_sldier_inner button.slick-next.slick-arrow {
  position: absolute;
  bottom: -70px;
  top: unset;
  left: 30px;
}

/* .client_sldier_inner button.slick-prev.slick-arrow {
  left
}

.client_sldier_inner button.slick-next.slick-arrow {} */

.client_sldier_inner ul li .sldier_wraper {
  display: flex;
  align-items: center;
}

.client_sldier_inner {
  margin: 0;
  position: relative;
  padding: 80px 0 80px 0;
}

.client_sldier_inner ul li .sldier_wraper .item:nth-child(1) {
  margin: 0 15px 0 0px;
  flex: 0 0 30%;
}

.client_sldier_inner ul li .sldier_wraper .item h2 {
  color: #1E1E1E;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 10px 0;
}

.client_sldier_inner ul li .sldier_wraper .item p {
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.client_sldier_inner ul li .sldier_wraper .item img {
  margin: 20px 0 0 0;
}

.client_sldier_inner ul li .sldier_wraper .item:nth-child(1) img {
  width: 80%;
  display: block;
  margin: auto;
}


button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
  font-size: 0;
  border: none;
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 37px;
  background-color: transparent;
  position: absolute;
  bottom: -70px;
  right: 0;
  left: 5%;
  margin: auto;
}

button.slick-next.slick-arrow{
    background-image: url(../images/left.png);
    right: 10%;
}

.client_sldier_inner:before, .client_sldier_inner:after {
  content: '';
  display: block;
  position: absolute;
  background: #ff9400;
  width: 1050px;
  height: 1px;
  left: 0;
  right: 0;
  margin: auto;
  top: 11%;
}

.client_sldier_inner:after{
  bottom: -40px;
  top: unset;
  display: none;
}

section.logo_sec {
  padding: 60px 0 80px 0;
  position: relative;
}

.author_inner {
  text-align: center;
}

.author_inner h2 {
  color: #1E1E1E;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
}

section.logo_sec:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/border.png);
  background-repeat: no-repeat;
  width: 1030px;
  height: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.links_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links_menu {
  margin: 0 0 60px 0;
}

.links_menu ul li a {
  color: #1E1E1E;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Playfair Display' !important;
}

.footer_bottom {
  padding: 60px 0 30px 0;
}

.footer_bottom ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_bottom ul li a, .footer_bottom ul li {
  color: #1E1E1E;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_bottom ul li {
  margin: 0 0 0 40px;
  position: relative;
}

.footer_bottom ul li:before {
  content: '';
  display: block;
  position: absolute;
  background: #000;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media only screen and (max-width: 1400px){
  .global_btn button a {
    font-size: 14px !important;
}
}

@media only screen and (max-width: 767px){
  .logo img{
    width: 280px;
  }
  .packages_iner{
    margin:0 auto !important;
  }

  button.slick-next.slick-arrow {
    right: 20%;
}


  section.sec_1 .row:after {
    display: none !important;
}

section.sec_4 {
    padding-bottom: 20px;
}


  .service_inner ul {
    flex-wrap: wrap;
    display: block;
}

.service_inner ul li {
    margin: 0 0 20px 0;
}


  .banner_inner h1 {
    width: 100%;
    font-size: 34px;
}

.top_btom_border:before, .top_btom_border:after {
  width: 100%;
}

.process_points ul {
  flex-wrap: wrap;
  justify-content: center;
}

.process_points ul li {
  flex: 0 0 50%;
  justify-content: start;
}

.words_inner h2 {
  font-size: 40px;
}

section.sec_2 {
  padding: 0;
}

.words_inner p {
  font-size: 16px;
}

.words_img {
  margin: 30px 0 0 0;
}

.table_inner h2 {
  font-size: 40px;
  line-height: 45px;
}

.table_inner p {
  width: 100%;
  font-size: 16px;
}

.client_sldier_inner:before, .client_sldier_inner:after {
  width: 100%;
}

.links_menu ul {
  flex-wrap: wrap;
  display: block;
}

section.logo_sec:after {
  width: 100%;
}

.author_inner img {
  width: 100%;
}

.banner_images ul li img {
  margin: auto;
}

.top_btom_border:before {
  top: 4%;
}

.table_box {
  width: 100%;
  margin: 0 0 30px 0;
}

.col-md-4.mt-5 {
  margin-top: 0 !important;
}

.service_inner h2 {
  font-size: 45px;
  line-height: 50px;
}

.service_inner {
  margin: 40px 0 0 0;
}

.process_inner h2 {
  font-size: 35px;
  line-height: 45px;
}

.process_inner p {
  font-size: 16px;
}

.work_inner h2 {
  font-size: 40px;
}

.spacing_wrap:before {
  top: 2%;
}

.spacing_wrap {
  padding-top: 100px !important;
}

.work_box {
  justify-content: start;
  margin: 0 0 20px 0;
}

.work_box .item_wrap:nth-child(2) {
  margin: 0 0 0 20px;
}

.top_btom_border:after {
  bottom: 40px;
}

.client_inner h5 {
  font-size: 24px;
}

.client_inner h2 {
  font-size: 40px;
  line-height: 50px;
}

.client_sldier_inner ul li .sldier_wraper {
  display: block;
}

.client_sldier_inner ul li .sldier_wraper .item:nth-child(1) img {
  width: 50%;
}

.client_sldier_inner ul li .sldier_wraper .item h2 {
  font-size: 30px;
}

.client_sldier_inner ul {
  margin: 40px 0 0 0 !important;
}

.author_inner h2 {
  font-size: 35px;
}

.links_menu ul li a {
  font-size: 30px;
}

.links_menu ul li {
  margin: 0 0 10px 0;
}

.footer_inner {
  display: block;
  text-align: center;
}

.footer_inner img {
  margin: 0 0 20px 0;
}

.footer_social {
  margin: 40px 0 0 0;
}

.footer_social ul {
  justify-content: center;
}

.footer_badge {
  text-align: center;
}

.footer_bottom ul {
  display: block;
}

.footer_bottom ul li a, .footer_bottom ul li {
  font-size: 14px;
}

.footer_bottom ul li {
  margin-bottom: 10px;
  margin-left: 20px;
}

button.navbar-toggler {
  position: absolute;
  right: 0;
  top: -50px;
  background: #ff9400;
}

div#navbarSupportedContent {
  background: #fb9502;
  padding: 15px 0;
  margin: 20px 0 0 0;
}

div#navbarSupportedContent ul.navbar-nav {
  align-items: start;
}

div#navbarSupportedContent ul.navbar-nav li a {
  color: #fff !important;
}

div#navbarSupportedContent ul.navbar-nav li {
  margin-bottom: 5px;
  margin-left: 15px;
}

div#navbarSupportedContent ul.navbar-nav li button {
  background: #000;
  margin: 10px 15px 0 0px !important;
}
  
}

section.sec_1 .row:after {
  content: '';
  display: block;
  position: absolute;
  background: #ff9400;
  width: 1050px;
  height: 1px;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.top_btom_border .col-md-4 {
  position: relative;
}

.top_btom_border .col-md-4:nth-child(1) {
  position: relative;
}

.top_btom_border .col-md-4:nth-child(1):after, .top_btom_border .col-md-4:nth-child(2):after {
  content: '';
  display: block;
  position: absolute;
  background: #ffca80;
  width: 1px;
  height: 350px;
  right: 0;
  top: 20px;
  bottom: 0;
}

section.sec_6 .top_btom_border .col-md-4:nth-child(1):after, section.sec_6 .top_btom_border .col-md-4:nth-child(2):after {
  display: none;
}

.desclamer {margin-bottom: 30px;}

.desclamer h3 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px 0;
}

.desclamer p {
    color: #000;
    font-size: 16px;
}

section.packages_sec {
  padding: 50px 0 60px;
}

.packages_iner {
  border: 1px solid #f38f35;
  border-radius: 20px;
  padding: 1px 3px 30px 0 !important;
  text-align: center;
  /* margin: 0 0 60px 0 !important; */
  margin: 30px 0 0 0;
  width: 100%;
  height: 880px;
  /* width: 270px; */
}

.packages_iner h3 {
  line-height: 30px !important;
}

.packages_iner h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
  padding: 20px 40px 0 47px;
  min-height: 80px;
}

.packages_iner h6 {
  margin: 13px 0 18px 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.packages_iner h2 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #f38f35;
  margin: 0 0 20px 0;
}

.packages_iner p {
  font-size: 14px;
  line-height: 20px;
  margin: 20px 30px 30px !important;
  text-align: left;
}

.packages_iner ul {
  margin: 0 0 20px !important;
  padding: 0 10px 1px 20px !important;
  /* display: none; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.packages_iner ul::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #f38f35 !important;
}

::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.packages_iner ul li {
  font-size: 14px;
  padding: 0 0 0 20px;
  position: relative;
  font-weight: 400;
  margin: 0 0 10px;
  text-align: left;
}

.packages_iner ul li:before {
  content: '';
  display: block;
  position: absolute;
  background: #f38f35;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 4px;
  top: 8px;
}


button.popup_button {
  /* box-shadow: -2px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 20px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-transform: capitalize;
  width: 210px;
  height: 50px;
  font-family: Raleway; */

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  text-transform: uppercase;
  background: #f7922c;
  border-radius: 30px;
  /* border: 1px solid var(--btn-gradient); */
  box-shadow: 0 0 0 2px #f6921e;
  -webkit-animation: 2s cubic-bezier(.25, 0, 0, 1) 3s infinite pulse;
  animation: 2s cubic-bezier(.25, 0, 0, 1) 3s infinite pulse;
}

/* ul.logo_img {
  display: none;
} */

section#pricing .owl-carousel .owl-stage-outer {
  height: 1190px;
}

button.btn.popup_button:hover {
  background: #254e60;
  color: white;
}

ul.logo_img {
  overflow: hidden;
  text-decoration: none !important;
  list-style: none !important;
  MARGIN: 0 !IMPORTANT;
  PADDING: 0 !important;
  height: auto;
  margin: 1px 0 9px 0 !important;
}

ul.logo_img li {
  list-style: none !important;
}

ul.logo_img li::before {
  list-style: none !important;
  display: none !important;
}


li.first.last::before {
  display: none !important;
}


ul.logo_img li.first.last {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

ul.logo_img li.first.last img {
  width: 40%;
  margin: 0 auto !important;
}

.slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  content: "\f060";
  /* This is the Font Awesome icon code for a left arrow */
  margin-right: 10px;
}

/* Styles for the next arrow */
.slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  content: "\f061";
  /* This is the Font Awesome icon code for a right arrow */
  /* Adjust spacing between arrow and text */
}

/* Styling for the arrow buttons */
.slick-prev,
.slick-next {
  font-size: 0;
  /* Remove font size to hide any text inside */
  color: black;
  /* Hide text color */
  background: none;
  /* Remove background */
  border: 2px solid black;
  /* Remove border */
  padding: 0;
  /* Remove padding */
  border-radius: 350px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  height: 40px;
  width: 40px;
  padding: 6px;
}

button.slick-prev.slick-arrow {
  position: relative;
  top: 420px;
  left: -70px;
}

button.slick-next.slick-arrow {
  position: relative;
  top: -417px;
  left: 1170px;
}


section#pricing {
  padding-bottom: 0 !important;
}

.slick-slide img {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}

ul.new_badgess {
  margin: 30px 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/* ul.new_badgess li {
  flex: 0 0 18%;
} */