@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

p,
ul {
    margin: 0 !important
}

.row.bg_row,
section.bottom_foter {
    background: linear-gradient(180deg, #108375 0, #288d70 46.35%, #48b88a 100%)
}

#boxclose,
.floatbutton .clickbutton {
    cursor: pointer;
    display: inline-block
}

.container {
    width: 100% !important;
    max-width: 1200px !important;
    margin: auto !important
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span {
    font-family: Raleway, sans-serif !important
}

ul {
    padding: 0 !important;
    list-style: none !important
}

a {
    text-decoration: none !important
}

.logo img {
    /* filter: brightness(0); */
    width: 220px;
}

ul.navbar-nav {
    width: 100%;
    justify-content: end
}

.form_img,
.menu {
    text-align: right
}

.about_iner,
.banner_form h2,
.buton_youtube,
.content_img,
.content_iner,
.desc,
.gurenty_info,
.inner_footer,
.logo_iner,
.testimonial_iner,
.video_popup,
.work_iner {
    text-align: center
}

header.main_header {
    padding: 20px 0;
    margin-top: 60px
}

.menu ul.navbar-nav li button {
    background-image: linear-gradient(180deg, #45b589 0, #138576 100%);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
    font-family: Raleway
}

.menu ul.navbar-nav li button:hover {
    background: #000 !important
}

section.bottom_foter {
    text-shadow: 0 1px 2px rgb(0 0 0 / 77%);
    padding: 20px 0
}

.inner_footer p {
    color: #fff;
    font-size: 18px;
    line-height: 20px
}

section.banner_wrap {
    background-image: url(../images/banner.webp);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    background-position: right;
    position: relative;
    z-index: 9;
    background-size: cover
}

.banner_iner h1 {
    color: #131313;
    font-size: 49px;
    font-weight: 700;
    line-height: 59px;
    margin: 0 0 30px
}

.banner_iner h4 {
    margin: 0 0 10px;
    color: #50b48c;
    font-size: 24px;
    font-weight: 700
}

.banner_iner p {
    color: #131313;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4em;
    stroke: #000
}

.badge_img ul,
.footer_iner,
ul.logo_img {
    display: flex;
    align-items: center
}

.badge_img {
    margin: 50px 0 0
}

.badge_img ul li {
    font-weight: 100;
    font-size: 50px;
    color: #39a27c;
    margin: 0 30px 0 0
}

.banner_form {
    border-color: rgba(255, 255, 255, .3);
    box-shadow: 0 17px 22px rgb(40 51 46 / 48%);
    width: 420px;
    margin-left: auto;
    padding: 30px 20px;
    background: #fff;
    z-index: 9999;
    position: relative
}

.banner_form h2 {
    color: #131313;
    font-size: 22px;
    font-weight: 600
}

.banner_form h2 span {
    color: #21937b;
    font-weight: 800
}

.banner_form form {
    margin-top: 40px !important;
    width: 80%;
    margin: auto
}

.banner_form form input,
.banner_form form textarea {
    height: 45px;
    margin: 0 0 10px;
    border: none;
    padding: 0 0 0 20px;
    outline: 0;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background: #e6e3e3
}

.banner_form form input::placeholder,
.banner_form form textarea::placeholder {
    color: #000
}

.banner_form form textarea {
    height: 80px;
    padding: 15px 0 0 20px
}

input[type=submit] {
    margin: 0;
    border-left: 8px solid #ff4588 !important;
    border-radius: 10px;
    height: 50px !important;
    padding: 0 !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    color: #fff;
    background: linear-gradient(90deg, #44b489 1.76%, #168877 100%) !important
}

section.logo_sec {
    padding: 80px 0;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.logo_wrp ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.logo_wrp ul li {
    flex: 0 0 11%;
    border: 1px solid #d9eae4;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo_wrp ul li img {
    width: 79px
}

.logo_iner {
    margin: 60px 0 0
}

.logo_iner h3 {
    margin: 0;
    font-size: 33px;
    font-weight: 400;
    line-height: 43px
}

.logo_iner h2 {
    margin: 0 0 15px;
    font-size: 40px;
    color: #108375;
    font-weight: 500
}

.logo_iner p {
    font-size: 22px;
    color: #131313;
    font-weight: 400;
    line-height: 30px
}

section.about_sec {
    background: #eef9f5;
    padding: 80px 0
}

.about_btn button,
.content_btn button {
    background: linear-gradient(90deg, #44b489 1.76%, #168877 100%)
}

.about_iner h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 55px
}

.about_img ul {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 !important
}

.about_img ul li {
    flex: 0 0 23%;
    margin: 0 20px 20px 0
}

.image_test,
ul.slick-dots {
    justify-content: center;
    display: flex
}

.about_img ul li img {
    width: 100%;
    box-shadow: 0 0 10px #c5c5c5
}

.about_img ul li:nth-child(7) {
    margin-top: -43px
}

.about_img ul li:nth-child(8) {
    margin-top: -55px
}

.about_img ul li:nth-child(11) {
    margin-top: -60px
}

.about_img ul li:nth-child(12) {
    margin-top: -65px
}

.about_btn button {
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 34px;
    font-family: Raleway;
    font-weight: 400;
    border: none
}

.about_btn button:hover {
    color: #000
}

.about_btn {
    margin: 30px 0
}

.image_test {
    align-items: center
}

.image_test h4 {
    margin: 0 0 0 20px;
    font-size: 22px;
    font-weight: 700;
    color: #39a27c
}

.team_wrp ul li {
    display: flex !important;
    align-items: center
}

.team_wrp ul li h2 {
    margin: 0 15px;
    font-size: 45px;
    font-family: sans-serif !important;
    font-weight: 700;
    color: #48b88a
}

.team_wrp ul li p {
    color: #131313;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px
}

.team_wrp {
    margin: 80px 0 0
}

section.content_sec {
    padding: 100px 0
}

.content_iner {
    width: 800px;
    margin: auto
}

.content_iner img {
    width: 80%;
    margin: 30px 0
}

.content_iner h4 {
    color: #131313;
    font-family: Roboto, Sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 5px
}

.content_iner h2 {
    margin: 0;
    color: #108375;
    font-family: Merriweather, Sans-serif;
    font-size: 35px;
    font-weight: 600
}

.content_iner p {
    text-align: left;
    margin: 0 0 15px !important;
    font-size: 22px;
    line-height: 30px;
    color: #131313
}

.content_btn {
    margin: 40px 0 0;

}

.content_btn button {
    width: 250px;
    height: 60px;
    font-family: Raleway;
    font-size: 18px;
    border-radius: 10px;
    border-left: 8px solid #ff4588 !important;
    border: none;
    font-weight: 500
}

.content_btn a,
.video_iner h3 {
    font-family: sans-serif !important
}

.content_btn a {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
    margin: 0 20px 0 0;
}

section.video_sec {
    background-image: url(../images/bg-green.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
    display: flex;
    align-items: center
}

.video_iner,
.video_iner_2,
.video_iner_3 {
    background-image: url(../images/bundle1.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 90px 0 0;
    height: 380px
}

.video_iner img {
    width: 120px
}

.video_iner h5 {
    margin: 10px 0 5px;
    font-size: 24px;
    font-weight: 700;
    color: #464646;
    line-height: 30px
}

.video_iner p {
    font-size: 16px;
    font-weight: 500;
    color: #fff
}

.video_iner h3 {
    margin: 0;
    font-weight: 700;
    font-size: 29px;
    color: #464646
}

.video_iner h3 span {
    font-size: 24px;
    font-family: Raleway !important
}

.video_iner_2 {
    background-image: url(../images/bundle2.png)
}

.video_iner_3 {
    background-image: url(../images/bundle3.png)
}

.video_popup {
    margin: 50px 0 0
}

.video_popup p {
    font-size: 37px;
    color: #fff;
    font-weight: 300
}

#fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .8
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #fff;
    background: #fff;
    z-index: 1002;
    overflow: visible
}

#boxclose {
    float: right;
    color: #fff;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    background: #222;
    font-size: 31px;
    font-weight: 700;
    line-height: 0;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 1002;
    opacity: .9
}

.boxclose:before {
    content: "ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â"
}

#fade:hover~#boxclose,
.test:hover~.test2,
marquee,
ul.logo_img li:before {
    display: none
}

.buton_youtube,
.desc {
    margin: 30px 0 0
}

.buton_youtube a {
    border: 1px solid #fff;
    padding: 25px 90px;
    border-radius: 50px;
    background: #116f60ba;
    font-size: 35px;
    font-weight: 600;
    color: #fff
}

section.form-sec,
section.testimonial_slide {
    padding: 80px 0
}

.testimonial_iner h3 {
    margin: 0;
    font-size: 26px;
    color: #131313;
    font-weight: 400;
    line-height: 35px
}

.testimonial_iner h2 {
    font-size: 45px;
    font-weight: 600;
    color: #131313;
    line-height: 55px
}

.book_wrp ul li img {
    width: 230px;
    margin: auto
}

ul.slick-dots li button {
    font-size: 0;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    padding: 0;
    background: #d9d9d9
}

ul.slick-dots li {
    font-size: 0
}

ul.slick-dots li.slick-active button {
    background: #48b88a
}

button.slick-next,
button.slick-prev {
    font-size: 0;
    border: none;
    background-image: url(../images/arow.png);
    width: 30px;
    height: 55px;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 9999;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-size: 90%
}

button.slick-next {
    background-image: url(../images/arow2.png);
    right: 0;
    left: unset
}

.gurenty_info {
    margin: 40px 0 0
}

.gurenty_info h2 {
    margin: 0;
    color: #131313;
    font-size: 25px;
    font-weight: 500
}

.content_img ul,
.gurenty_info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 !important
}

.gurenty_info ul li p {
    color: #45a57e;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 1.3
}

.gurenty_info ul li {
    flex: 0 0 12%
}

section.work_sec {
    padding: 60px 0;
    background: #edf8f4
}

.work_iner {
    margin: 0 0 50px
}

.work_iner h2 {
    color: #131313;
    font-family: Merriweather, Sans-serif;
    font-size: 45px;
    font-weight: 600
}

.tabs_main {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: auto
}

.tab button {
    display: block;
    width: 100%;
    border: #fdf5e6;
    background: 0 0;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center
}

.tab {
    margin: 0 30px 0 0
}

.tab button span {
    color: #48b88a;
    font-size: 60px;
    font-family: sans-serif !important;
    font-weight: 700
}

.tab button h2 {
    margin: 0 0 0 15px;
    color: #545454;
    font-size: 23px;
    line-height: 27px;
    font-weight: 700
}

.tabs_main .content_wrp {
    flex: 0 0 80%
}

.first_tabs {
    margin: 0 0 20px
}

.first_tabs h4 {
    margin: 0 0 5px;
    color: #45a57e;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.3
}

.first_tabs p {
    font-size: 17px;
    color: #131313
}

.baner_row h2,
.points_wrp ul li {
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 77%)
}

.third p {
    margin: 0 0 15px !important
}

.row.bg_row {
    border-radius: 20px;
    padding: 50px 40px
}

.baner_row h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    width: 70%
}

.points_wrp ul li {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 5px;
    position: relative
}

.points_wrp ul li svg {
    margin: 0 10px 0 -20px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 77%)
}

section.form-sec .row,
section.form-sec .row.smal_row {
    width: 780px;
    margin: auto;
    background: #e9f5f1;
    padding: 30px 20px
}

h2.single_hd {
    padding: 0;
    text-align: center;
    font-size: 34px;
    color: #131313;
    font-weight: 500;
    margin: 0 0 30px
}

.desc p,
.img_content p,
.popup_form_wrp input[type=submit] {
    color: #fff
}

.form_content form,
ul.logo_img li img {
    width: 100%
}

.form_content form input,
.form_content form textarea {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #749a9b;
    background: 0 0;
    margin: 0 0 20px;
    font-family: Raleway;
    outline: 0
}

.content_img ul li h2 {
    font-size: 28px;
    font-weight: 700;
    color: #39a27c
}

.content_img ul li {
    margin: 0 0 0 30px
}

section.form-sec .row {
    margin-top: 30px !important
}

.footer_logo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end
}

.img_content h4 {
    font-size: 1.1em;
    color: #fff;
    line-height: 10px
}

.img_content {
    width: 60%
}

section.bottom_foter .row.color_row {
    background: #fffFFF12;
    padding: 20px 0;
    border-radius: 20px
}

.desc p {
    font-size: 20px
}

section.logo_sec_2,
section.packages_sec {
    padding: 0 0 60px
}

.packages_iner {
    border: 1px solid #3faf87;
    border-radius: 20px;
    padding: 20px 15px;
    text-align: center
}

.modal-body,
.modal-header {
    padding: 0 !important
}

.packages_iner h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
    padding: 0;
    min-height: 80px
}

.packages_iner h6 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center
}

.packages_iner h2 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #32a282
}

.packages_iner p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 30px !important;
    text-align: left
}

.packages_iner ul {
    margin: 0 0 20px !important;
    overflow: auto;
    height: 230px;
}

.packages_iner ul li {
    font-size: 14px;
    padding: 0 0 0 20px;
    position: relative;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: left
}

.packages_iner ul li:before {
    content: '';
    display: block;
    position: absolute;
    background: #32a282;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 4px;
    top: 8px
}

.packages_iner button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    font-family: Raleway !important;
    background: linear-gradient(90deg, #44b489 1.76%, #168877 100%)
}

ul.logo_img li {
    flex: 0 0 50%;
    padding: 0
}

.cm_logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 !important
}

.cm_logo ul li {
    flex: 0 0 15%
}

.cm_logo ul li img {
    width: 80%
}

.modal-header {
    border: none !important;
    margin-bottom: 20px
}

.modal {
    background: #0000008c
}

.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.popup_form_wrp {
    padding: 0 15px;
    text-align: center
}

.popup_form_wrp h2 {
    font-weight: 800;
    font-size: 35px;
    color: #494949;
    margin: 0 0 10px 20px;
    position: relative
}

.popup_form_wrp p {
    color: #343434;
    font-weight: 500
}

.popup_form_wrp form input,
.popup_form_wrp form select,
.popup_form_wrp form textarea {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    height: 45px;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
    font-family: Raleway;
    font-weight: 500;
    outline: 0;
    color: #000;
    border: 1px solid #3bab86
}

.popup_form_wrp form {
    margin: 30px 0 0
}

.popup_form_wrp form input::placeholder,
.popup_form_wrp form textarea::placeholder {
    color: rgba(0, 0, 0, .44);
    font-size: 14px
}

.popup_form_wrp form textarea {
    border-radius: 15px;
    height: 130px;
    padding: 15px 18px
}

.popup_form_wrp form select {
    font-size: 14px;
    font-weight: 500
}

.modal-content {
    padding: 30px 0;
    border-radius: 20px;
    border: 2px solid #3bab86 !important
}

.popup_form_wrp h2:before {
    content: '';
    display: block;
    position: absolute;
    background: #3bab86;
    width: 10px;
    height: 40px;
    left: -20px;
    border-radius: 5px
}

button.btn-close:after,
button.btn-close:before {
    background: #fff;
    width: 4px;
    height: 26px;
    top: 5px;
    border-radius: 5px;
    content: '';
    position: absolute;
    display: block
}

span.color_form {
    color: #3bab86
}

button.btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #3bab86;
    opacity: 1;
    border-radius: 0 0 0 20px;
    width: 30px;
    height: 25px
}

button.btn-close:after {
    transform: rotate(42deg);
    left: 25px
}

button.btn-close:before {
    transform: rotate(129deg);
    left: 24px
}

button.btn-close:hover {
    background: #f3ad16;
    opacity: 1
}

button.popup_button {
    box-shadow: -2px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-transform: capitalize;
    width: 210px;
    height: 50px;
    font-family: Raleway
}

button.popup_button:hover {
    background: #f3ad16
}

section.banner_wrap:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/banner-2.png);
    background-repeat: no-repeat;
    width: 679px;
    height: 425px;
    right: 130px;
    top: 100px;
    z-index: -1
}

@media only screen and (max-width: 1400px) {
    section.banner_wrap:after {
        right: 20px
    }
}

@media only screen and (max-width: 1199px) {
    ul.navbar-nav li a {
        padding: 0;
        font-size: 15px
    }

    .tabs_main {
        display: block
    }

    section.work_sec {
        overflow: hidden !important
    }

    .tab {
        display: flex
    }

    .first_tabs {
        width: 90%
    }

    .banner_iner h1 {
        font-size: 40px;
        margin: 0 0 10px
    }

    section.banner_wrap:after {
        right: 0
    }

    .banner_iner h4 {
        font-size: 22px
    }

    .logo_wrp ul li {
        flex: 0 0 24%;
        margin: 0 0 10px
    }

    .team_wrp ul li {
        display: block !important;
        text-align: center
    }

    .team_wrp ul li p {
        font-size: 20px;
        width: 60%;
        margin: auto !important
    }

    .gurenty_info ul li {
        flex: 0 0 16%
    }
}

@media only screen and (max-width: 767px) {
    header.main_header{
        margin: 0 !important;
        padding: 0 !important;
    }
    .hey_there{
        display: block !important;
    }
    .for-mm{
        margin-top: 20px;
    }
    .logo img {
        filter: brightness(0);
        width: 50% !important;
        height: 60px;
        position: relative !important;
        top: 10px !important
    }

    header.main_header .col-md-3 {
        display: none !important
    }

    div#navbarSupportedContent {
        width: 60% !important;
        background: #ffff;
        margin: 20px 0 0;
        padding: 10px;
        border-radius: 10px !important
    }

    .menu nav.navbar ul li a {
        color: #000 !important;
        padding: 10px 0;
        border-bottom: 1px solid #50b48c;
        text-align: left
    }

    section.menu_header .col-md-2 {
        width: 50%
    }

    button.navbar-toggler {
        position: absolute;
        top: -40px;
        background: #fff;
        padding: 6px 11px
    }

    nav.navbar.navbar-expand-lg.navbar-light {
        justify-content: end !important
    }

    .badge_img ul li:nth-child(2),
    .logo_iner p br,
    section.banner_wrap:after,
    section.header_top {
        display: none
    }

    .banner_form {
        width: 100%;
        margin: 50px 0 0
    }

    .badge_img ul,
    .content_img ul {
        flex-wrap: wrap
    }

    .content_img ul li img,
    .content_iner {
        width: 100%
    }

    .tab {
        display: block !important
    }

    .tab button {
        display: flex;
        flex-wrap: wrap
    }

    .first_tabs,
    .tabs_main {
        width: 100% !important
    }

    section.form-sec .row,
    section.form-sec .row.smal_row {
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }

    header.main_header .col-md-4,
    header.main_header .col-md-8 {
        width: 45%
    }

    .menu ul.navbar-nav li button {
        width: 160px;
        font-size: 16px
    }

    header.main_header .row {
        justify-content: space-between
    }

    .about_iner h2,
    .banner_iner h1,
    .logo_iner h2,
    .testimonial_iner h2 {
        font-size: 30px;
        line-height: 40px
    }

    section.banner_wrap {
        padding: 30px 0;
        height: auto !important
    }

    .banner_iner h4,
    .banner_iner p {
        font-size: 18px
    }

    .badge_img ul li {
        margin: 0;
        flex: 0 0 50%
    }

    .logo_iner h3 {
        font-size: 22px;
        line-height: 30px
    }

    .content_iner p,
    .logo_iner p {
        font-size: 18px;
        line-height: 26px
    }

    section.about_sec,
    section.content_sec,
    section.logo_sec {
        padding: 30px 0
    }

    .about_img ul li {
        flex: 0 0 100% !important
    }

    .about_img ul li:nth-child(11),
    .about_img ul li:nth-child(12),
    .about_img ul li:nth-child(7),
    .about_img ul li:nth-child(8) {
        margin-top: 0
    }

    .content_iner h2,
    .work_iner h2 {
        font-size: 30px
    }

    .baner_row,
    .packages_iner {
        margin: 0 0 20px
    }

    section.testimonial_slide {
        padding: 0 0 30px
    }

    .testimonial_iner h3 {
        font-size: 20px
    }

    .gurenty_info ul li:first-child {
        flex: 0 0 25%
    }

    .gurenty_info ul li:nth-child(2) {
        flex: 0 0 55%
    }

    section.form-sec {
        padding: 0
    }

    h2.single_hd {
        font-size: 24px
    }

    .footer_iner {
        margin: 0 0 30px
    }
}

section.header_top {
    background: #000;
    padding: 10px 0
}

ul.top_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

ul.top_left li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400
}

ul.top_left li {
    position: relative
}

ul.top_left li.email_icon:before,
ul.top_left li.phone_icon:before,
ul.top_left li.screen_icon:before,
ul.top_left li.whatssap_icon:before {
    content: '\f108';
    display: block;
    position: absolute;
    color: #fff;
    left: -20px;
    font-family: FontAwesome;
    bottom: 0;
    margin: auto
}

ul.top_left li.phone_icon:before {
    content: '\f095'
}

ul.top_left li.email_icon:before {
    content: '\f0e0';
    font-size: 15px;
    top: 0
}

ul.top_left li.whatssap_icon:before {
    content: '\f232';
    font-size: 18px;
    top: 0
}

ul.top_left li.phone_icon:before {
    top: 0;
    font-size: 19px
}

ul.navbar-nav li a {
    color: #000 !important;
    font-weight: 500
}

.floatbutton.active {
    right: 0;
    z-index: 9;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.floatbutton,
.floatbutton .clickbutton .crossplus {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s
}

.floatbutton {
    transition: .4s;
    position: fixed;
    right: -371px;
    top: 30%;
    font-size: 0;
    width: 420px;
    z-index: 999
}

.floatbutton .clickbutton {
    width: 50px;
    z-index: 999;
    height: 200px;
    box-shadow: -20px 7px 18px -7px rgba(87, 184, 151, .09) !important;
    border-radius: 30px 0 0 30px;
    padding-top: 0;
    vertical-align: top;
    margin-top: 125px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    border: 1px solid #1b8d79;
    text-transform: uppercase;
    background-color: #1c8d79;
    box-shadow: 0 0 40px #00000026;
    -webkit-box-shadow: 0 0 40px #00000026;
    -ms-box-shadow: 0 0 40px #00000026;
    -o-box-shadow: 0 0 40px #00000026
}

.floatbutton .clickbutton .crossplus:before {
    content: "";
    display: none;
    position: absolute;
    width: 20px;
    height: 2px;
    right: 0;
    background: #fbb334;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto
}

.floatbutton .clickbutton .crossplus:after {
    content: "";
    display: none;
    position: absolute;
    width: 2px;
    height: 20px;
    right: 0;
    background: #fab334;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto
}

.floatbutton .clickbutton .crossplus {
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    transition: .4s;
    left: -52px;
    white-space: pre;
    bottom: 87px
}

.floatbutton .clickbutton .crossplus.rotate {
    transform: rotate(45deg);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.floatbutton .clickbutton .crossplus svg {
    font-size: 18px;
    color: #000;
    margin: 17px 0 0 15px
}

.floatbutton .banner-form {
    background: #fff;
    padding: 15px;
    position: relative;
    z-index: 99999 !important;
    border-radius: 5px;
    margin: 0;
    width: 370px;
    display: inline-block;
    box-shadow: 0 0 30px #0000001f;
    top: -74px
}

ul.top_left li.screen_icon:before {
    content: '\f155';
    animation: 1s linear infinite blink;
    font-size: 18px;
    top: 0
}

.icon_wrp {
    color: #fff;
    animation: 1s linear infinite blink
}

@keyframes blink {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

ul.logo_img li:before {
    display: none !important;
}

.hello_there {
    box-shadow: -2px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 20px;
    border: none;
    font-style: normal;
    padding: 10px 5px 10px 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    width: 238px !important;
    color: #fff !important;
    background: linear-gradient(90deg, #44b489 1.76%, #168877 100%);
    text-transform: capitalize;
    width: 210px;
    height: 50px;
    font-family: Raleway;
    border-left: 8px solid #ff4588 !important;
}

.hey_there {
    display: flex;
    justify-content: center;
}

a.hello_there:hover {
    background: #f3ad16;
}

@media(max-width:425px){
    .logo_wrp ul li {
        flex: 0 0 47%;
    }
}
