@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-weight: 500;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.btn-default,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
span,
textarea,
ul {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

button {
    outline: 0 !important;
    cursor: pointer !important;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

li {
    list-style: none;
}

.center {
    display: block;
    margin: 0 auto;
    float: none;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, #000, #000, #000, #000, #000);
    border-radius: 0;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #fe5f29, #fe5f29, #fe5f29, #fe5f29, #fe5f29);
    border-radius: 25px;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.haeder-link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 190px;
}

.haeder-link ul li a {
    color: #fff;
}

.haeder-link ul li {
    font-size: 17px;
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.haeder-link ul li:last-child {
    animation: hvr-buzz-out 0.75s linear 1;
    background-color: #26968b;
    border-radius: 7px;
    color: #Fff;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(180deg, rgb(253 154 0) 0%, rgb(192 120 7) 100%);
    padding: 12px 20px;
    font-size: 17px;
}

.min-banner {
    background-image: url(../images/banner.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.haeder-nav {
    position: absolute;
    width: 100%;
    padding: 12px 0;
}

.banner-text h1 {
    font-size: 14px;
    color: #000;
}

.banner-text h2 {
    font-size: 65px;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    height: 160px;
}

.banner-text p {
    font-size: 11px;
    line-height: 21px;
    color: #000;
}

.banner-text h2 span {
    color: #e18b03;
    font-weight: 700;
}

.banner-buuton ul {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.banner-buuton ul li button {
    width: 160px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

@-webkit-keyframes pulse-icon-color-main {
    70% {
        box-shadow: 0 0 0 10px rgba(252, 252, 252, 0.05), 0 0 0 8px rgba(233, 191, 4, 0.05);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.05), 0 0 0 8px rgba(255, 255, 255, 0.05);
    }
}

.logo-pic img {
    margin: 5px 50px 0;
}

.banner-from {
    padding: 20px 20px 10px;
    position: relative;
    z-index: 9;
    margin: 20px 0;
    background-image: url(../images/tab-bg.webp);
    background-position: center;
    background-size: cover;
}

.banner-from:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -20px;
    border-radius: 5px;
    z-index: 0;
    background: rgb(225 139 3 / 50%);
}

.banner-from::after {
    content: "";
    background: rgb(225 139 3 / 50%);
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -14px;
    right: -18px;
    border-radius: 5px;
    z-index: -3;
}

.banner-from h4 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}

.banner-from p {
    text-align: center;
    font-size: 13px;
    color: #000;
    margin: 6px 0 20px;
}

.input-field input {
    width: 100%;
    padding: 12px;
    background: rgb(0 0 0 / 30%);
    border: none;
    border: 2px dashed#fe5f29;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 7px;
}

.input-field textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
    resize: none;
    height: 100px;
    border-bottom: 1.5px dashed#000000;
    background: rgb(255 255 255 / 84%);
    border-radius: 5px;
}

.input-field input::placeholder {
    color: #fff;
}

.input-field button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-size: 19px;
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    background: linear-gradient(180deg, rgb(253 154 0) 0%, rgb(192 120 7) 100%);
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

.banner-logo ul {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.banner-text p span {
    color: #025772;
}

.logo-section {
    padding: 17px 0;
    background-position: center;
    background-size: cover;
    margin: -130px 0 0 0;
    background-image: url(../images/tab-bg.webp);
}

.logo-section p {
    color: #fff;
    font-size: 13px;
}

.logo-section p span {
    color: #ec9002;
    font-weight: 700;
}

.logobar {
    position: relative;
    padding: 0 30px;
}

.logobar::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: #fff;
    top: 23px;
    transform: translateY(-50%);
    left: 0;
}

.logobar::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: #fff;
    top: 23px;
    transform: translateY(-50%);
    right: 0;
}

.logo-section button {
    width: 160px;
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    background: linear-gradient(180deg, rgb(245 150 1) 0%, rgb(248 151 0) 100%);
}

.publis-section {
    padding: 80px 0;
}

.counter-text h4 {
    font-size: 40px;
    color: #025772;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.counter-text h4 span {
    color: #26968b;
}

.counter-text p {
    font-size: 13px;
    margin: 20px 0;
    line-height: 26px;
    color: #4e4e4e;
}

.counter-text ul {
    display: flex;
    margin-top: 20px;
}

.counter-text ul li button {
    width: 160px;
    padding: 10px;
    border: none;
    background: #26968b;
    color: #fff;
    margin-right: 20px;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
}

.counter-text ul li:last-child button {
    background-color: #025772;
}

.logo-bg {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/banner-logo-bg.jpg);
}

.speak-text h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
    line-height: 35px;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 41px;
}

.speak-text h2 span {
    color: #f29401;
}

.speak-text p {
    color: #353535;
    font-size: 15px;
    line-height: 25px;
}

.speak-buuton ul {
    display: flex;
    margin-top: 20px;
}

.speak-buuton ul li button {
    width: 160px;
    padding: 12px;
    border: none;
    background: #000;
    color: #ffffff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    -webkit-animation: pulse-icon-color-main 1.5s infinite;
    box-shadow: 0 0 0 0 rgb(240 149 5);
}

.publishing-work-card {
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    margin-top: 30px;
    padding: 25px 10px 15px;
    border-radius: 10px;
    position: relative;
    min-height: 160px;
    overflow: hidden;
    isolation: isolate;
}

.publishing-work-card h3 {
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

.publishing-work-card p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #000;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, 0);
    }
}

.floating-opp {
    animation-name: floating-opp;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-opp {
    from {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(0, -15px);
    }

    to {
        transform: translate(0, 0);
    }
}

.speak-section {
    background-image: url(../images/speak-banner.webp);
    background-position: center;
    background-size: cover;
    padding: 70px 0 40px;
}

.should-section {
    background-image: url(../images/should-bg.webp);
    height: 450px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.should-section h4 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 55px;
}

.should-section p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.should-section ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.should-section ul li {
    width: 50%;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 40px;
    position: relative;
}

.should-section ul li::before {
    content: "";
    background-image: url(../images/check-white.webp);
    height: 19px;
    width: 21px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.get-start-section {
    background-repeat: no-repeat;
    padding: 50px 0;
    position: relative;
    background-size: cover;
    background: #fff;
}

.get-start-section::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 377px;
    left: -100px;
    bottom: -69px;
    animation: lifte_and_right 5s linear infinite;
}

.get-start-section::after {
    content: "";
    width: 400px;
    height: 335px;
    right: 0;
    transform: translateY(-75%);
    position: absolute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    top: -70px;
    z-index: 2;
}

.get-start-section ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    z-index: 999;
}

.get-start-section ul li button {
    width: 170px;
    padding: 13px;
    background: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 9px;
    font-weight: 500;
    transition: all .5s;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

.get-start-section ul li {
    margin: 0 10px;
}

.get-start-section h4 {
    text-align: center;
    color: #f39504;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.get-start-section p {
    text-align: center;
    color: #000;
    font-size: 15px;
    width: 50%;
    display: block;
    margin: 0 auto;
    font-weight: 500;
}

.from-bg {
    background-image: url(../images/from-bg.webp);
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.from-text h2 {
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}

.from-text p {
    color: #fff;
    font-size: 15px;
}

.from-link ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.from-link ul li {
    width: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    position: relative;
    padding: 0 32px;
    margin-bottom: 10px;
}

.from-link ul li::before {
    content: "";
    background-image: url(../images/check-white.webp);
    height: 19px;
    width: 21px;
    position: absolute;
    left: 0;
    top: 5px;
}

.from-button ul {
    display: flex;
    margin-top: 20px;
}

.from-button ul li button {
    width: 160px;
    padding: 10px;
    border: none;
    background: #f59601;
    color: #fff;
    margin-right: 20px;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

.from-button ul li:last-child button {
    background-color: #000;
}

.ebook-from {
    padding: 18px 20px 0;
    background-color: rgb(0 0 0 / 48%);
    position: relative;
    z-index: 9;
}

.ebook-from h4 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.ebook-from p {
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 6px 0 20px;
    font-weight: 300;
}

.ebook-field input {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 2px dashed#ffffff;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.ebook-field textarea {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    resize: none;
    height: 90px;
    border-bottom: 2px dashed#ffffff;
}

.ebook-field input::placeholder {
    color: #ffff;
}

.ebook-field textarea::placeholder {
    color: #ffff;
}

.ebook-field button {
    width: 160px;
    padding: 10px;
    border: none;
    background: linear-gradient(180deg, rgb(251 153 0) 0%, rgb(0 0 0) 100%);
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 22px;
    -webkit-animation: pulse-icon-color-main 1.5s infinite;
    box-shadow: 0 0 0 0 rgb(240 149 5);
}

.footer {
    background-image: url(../images/tab-bg.webp);
    background-position: center;
    background-size: cover;
    padding: 50px 0 25px;
}

.footer-fast-text p {
    color: #fff;
    font-size: 14px;
    margin: 20px 0;
    font-weight: 300;
}

.footer-fast-text ul li a {
    color: #fff;
    font-size: 14px;
}

.footer-fast-text ul li {
    line-height: 22px;
    margin-bottom: 10px;
}

.footer-link h5 {
    font-size: 28px;
    font-family: 'Bebas Neue', sans-serif;
    color: #fb9901;
    margin-bottom: 10px;
}

.footer-link ul li {
    line-height: 26px;
    font-size: 13px;
    text-transform: uppercase;
}

.footer-link ul li a {
    color: #fff;
}

.footer-form h4 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.footer-form input {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 1.5px dashed#ffffff;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-form textarea {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    resize: none;
    height: 90px;
    border-bottom: 1.5px dashed#fff;
}

.footer-form input::placeholder {
    color: #fff;
}

.footer-form textarea::placeholder {
    color: #fff;
}

.footer-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(180deg, rgb(100 219 207) 0%, rgb(38 150 139) 100%);
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    margin-top: 20px;
    box-shadow: 0 0 0 0 rgb(38 150 139 / 50%);
    -webkit-animation: pulse-icon-color-main 1.5s infinite;
}

.copy-right {
    background: #000000;
    padding: 15px 0;
}

.copy-right h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #9ecddb;
    padding-bottom: 9px;
}

.copy-right p {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    font-weight: 400;
}

.form-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(400px);
    transition: 0.5s;
    z-index: 999;
}

.form-wrap.phone-floating {
    bottom: 380px;
}

.mail-floating.form-wrap {
    bottom: 450px;
}

.form-wrap.open {
    transform: translateX(0);
}

.form-wrap .floating-relative {
    position: relative;
}

.form-wrap .floating-relative .floating-form-btn {
    position: absolute;
    right: 338px;
    width: fit-content;
    height: 50px;
    top: 113px;
    white-space: nowrap;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    padding: 15px;
}

.form-wrap .floating-relative .icon-btn {
    right: 100%;
    top: 0;
    padding: 10px 18px;
    border-radius: 5px 0 0 5px;
    height: 50px;
}

.form-wrap .floating-relative .floating-form-btn.btn-rt {
    transform: rotate(270deg);
}

.form-wrap .floating-form {
    width: 400px;
    color: #fff;
    padding: 20px 30px;
    background-image: url(../images/tab-bg.webp);
    background-position: center;
    background-size: cover;
}

.mail-floating.form-wrap .floating-form,
.phone-floating.form-wrap .floating-form {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.mail-floating.form-wrap a.floating-form,
.phone-floating.form-wrap a.floating-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.form-wrap .floating-form .input-field input::placeholder {
    color: #fff;
}

.form-wrap .floating-form .input-field textarea::placeholder {
    color: #fff;
}

.form-wrap .floating-form .input-field input,
.form-wrap .floating-form .input-field textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

.form-wrap .floating-form .input-field textarea {
    height: 100px;
}

.form-wrap .floating-form .theme-btn {
    width: 100%;
}

.theme-btn-outline:hover,
.theme-btn-outline.active,
.theme-btn-featured {
    background: linear-gradient(180deg, rgb(251 153 0) 0%, rgb(220 140 14) 100%);
    color: #fff;
    border-color: transparent;
}

.floating-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(180deg, rgb(131 84 12) 0%, rgb(253 154 0) 100%);
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
}

.banner-list ul {
    margin: 15px 0 30px;
    text-align: center;
}

.banner-list ul li {
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    width: 33%;
    position: relative;
    text-align: left;
    display: inline-block;
    padding-left: 30px;
}

.book-section {
    background-image: url(../images/book-slider-bg.jpg);
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}

.book-slider .owl-prev {
    position: absolute;
    top: 50%;
    left: -5%;
    width: 40px;
    height: 40px;
    background: #f19504 !important;
    border-radius: 100%;
    color: #fff !important;
    font-size: 18px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.book-slider .owl-next {
    position: absolute;
    top: 50%;
    right: -5%;
    width: 40px;
    height: 40px;
    background: #f59703 !important;
    border-radius: 100%;
    color: #fff !important;
    font-size: 18px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.our-agency-section {
    background-image: url(../images/agency-bg.webp);
    padding: 30px 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.oag_item {
    padding: 5px;
    border-bottom: 2px dashed #f79700;
    position: relative;
    margin-bottom: 50px;
}

.oag_item h3 {
    color: #ec9002;
    font-size: 20px;
    margin: 10px 0 4px;
    font-family: 'Bebas Neue', sans-serif;
}

.oag_item p {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

.agency-heading h4 {
    font-size: 41px;
    font-family: 'Bebas Neue', sans-serif;
    color: #ec9002;
    margin-bottom: 15px;
}

.agency-heading p {
    font-size: 15px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
}

.craft-section {
    background-image: url(../images/tab-bg.webp);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
}

ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul#tabs li {
    display: inline-block;
    background-color: transparent;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
}

ul#tabs li:hover {
    background: linear-gradient(180deg, rgb(216 134 5) 0%, rgb(118 74 7) 100%);
}

ul#tabs li.active {
    background: linear-gradient(180deg, rgb(216 134 5) 0%, rgb(118 74 7) 100%);
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

ul#tab {
    margin: 0;
    margin-top: 60px;
}

ul#tab li {
    display: none;
}

ul#tab li.active {
    display: block;
}

.craft-text h3 {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.craft-text h4 {
    font-size: 45px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

.craft-text {
    margin-bottom: 50px;
}

.testi-text h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 45px;
    color: #fff;
}

.testi-text {
    margin-bottom: 50px;
}

.test-section {
    background-image: url(../images/testimonials-bg.webp);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
}

.info-testi {
    padding: 13px;
    border-radius: 9px;
}

.info-testi p {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 0;
}

.info-testi img {
    width: 100px !important;
    margin-left: 20px;
}

.info-testi h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: #f39603;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.testi-text h3 span {
    color: #f39401;
}

.new-new {
    background-image: url(../images/banner-logo-bg.jpg);
}

.oag_item-bg {
    background-image: url(../images/banner-logo-bg.jpg);
    padding: 30px 0;
    background-position: center;
    background-size: cover;
}

.agency-heading ul {
    display: flex;
    margin-top: 20px;
}

.agency-heading ul li button {
    width: 160px;
    padding: 12px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

.agency-heading h4 span {
    color: #000;
}

.owl-testimonial .owl-nav.disabled {
    display: block;
}

.owl-testimonial .owl-prev {
    color: #fff !important;
    font-size: 30px !important;
}

.owl-testimonial .owl-next {
    color: #fff !important;
    font-size: 30px !important;
}

.owl-testimonial.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
}

.custom-modal .modal-body {
    padding: 13px 15px 30px;
    background-image: url(../images/tab-bg.webp);
    background-position: center;
    background-size: cover;
}

.custom-modal .modal-header {
    padding: 10px 20px 5px;
    display: block;
    background: #025772;
    border-radius: 10px 10px 0 0;
}

.custom-modal .modal-body textarea {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border: 1.9px dashed #ffffff;
    border-radius: 6px;
    height: 100px;
    resize: none;
}

.custom-modal .modal-body input {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border: 1.9px dashed #ffffff;
    border-radius: 6px;
}

.modal-body button {
    width: 200px;
    padding: 9px;
    border: none;
    background: #fe5f29;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 9px;
    box-shadow: 0px 0 7px 0 #000;
    display: block;
    margin: 0 auto;
}

.custom-modal .modal-header .close {
    position: absolute;
    right: 0;
    opacity: 1 !important;
    color: #fff;
    font-size: 35px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 3px;
    text-align: center;
    top: 0;
    text-shadow: none;
    background: #26968b;
}

.custom-modal h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.custom-modal .close {
    width: 0;
    position: absolute;
    top: 0;
    right: 20px;
    background: transparent;
    height: 0;
    opacity: 1;
    font-size: 35px;
    box-shadow: none;
}

.custom-modal .close:hover {
    color: #fff;
}

.custom-modal .modal-body input::placeholder {
    color: #fff;
}

.custom-modal .modal-body textarea::placeholder {
    color: #fff;
}

.not-transparent {
    position: fixed;
    padding: 5px 0;
    transition-duration: .5s;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    transition: all .5s;
    top: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    margin: 0;
    z-index: 9999999;
    background-image: url(../images/tab-bg.webp);
    border-bottom: 1px solid #e08a03;
}

.ready-email-error,
.ready-message-error,
.ready-name-error,
.ready-phone-error {
    margin-top: -11px !important;
    margin-bottom: 10px !important;
    color: red !important;
    font-size: 12px !important;
    display: none;
}

.our-agency-section img {
    animation: lifte_and_right 5s linear infinite;
}

@keyframes lifte_and_right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

.thank-bg h4 {
    font-size: 130px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.thank-bg {
    background-image: url(../images/banner.webp);
    height: 75vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-slider {
    top: -55px;
}

.banner-list ul li:before {
    content: "";
    position: absolute;
    background-image: url(../images/check_icon.png);
    color: #fe5f29;
    width: 17px;
    height: 16px;
    left: 0;
    top: 3px;
}

.publishing-work-card:hover::after {
    transform: scale(50);
}

.publishing-work-card::after {
    content: "";
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #f79701;
    position: absolute;
    bottom: -5rem;
    left: -5rem;
    transform: scale(0);
    z-index: -1;
    transition: .5s;
    color: #fff;
}

.owl-number .owl-nav {
    display: none;
}

.counter-text-link h4 {
    font-size: 45px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
}

.counter-text-link h4 span {
    color: #f79700;
}

.counter-text-link p {
    font-size: 15px;
    line-height: 27px;
    margin-top: 13px;
    color: #fff;
}

.counter-text-link ul {
    display: flex;
    margin-top: 20px;
}

.counter-text-link ul li button {
    width: 160px;
    padding: 12px;
    border: none;
    background: #fff;
    color: #fe5f29;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
}

.book {
    --witdh: 350px;
    --height: 400px;
    --thick: 40px;
    --inner: 6px;
    --pages-bg: white;
    --cover-bg: rgba(33, 32, 30, 255);
    --cover-radius: 6px;
    position: relative;
    width: var(--witdh);
    height: var(--height);
    transform: rotateY(-30deg) rotateX(30deg);
    transition: 0.5s transform;
}

.book:hover {
    transform: rotateY(-20deg) rotateX(20deg);
}

.book,
.book__cover,
.book__pages {
    transform-style: preserve-3d;
}

.book__cover,
.book__cover::before,
.book__cover-img {
    border-top-right-radius: var(--cover-radius);
    border-bottom-right-radius: var(--cover-radius);
    user-select: none;
}

.book__cover::before,
.book__cover::after,
.book__pages::before,
.book__pages::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
}

.book__cover,
.book__cover::before,
.book__cover::after {
    background-color: var(--cover-bg);
}

.book__cover {
    width: 100%;
    height: 100%;
}

.book__cover::before {
    width: 100%;
    transform: translateZ(calc(var(--thick)*-1));
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 1);
}

.book__cover::after {
    width: var(--thick);
    transform-origin: left center;
    transform: rotateY(90deg);
}

.book__cover-img {
    width: 100%;
    height: 100%;
}

.book__pages,
.book__pages::before,
.book__pages::after {
    background: var(--pages-bg);
}

.book__pages {
    position: absolute;
    right: var(--inner);
    top: var(--inner);
    width: var(--thick);
    height: calc(100% - var(--inner)*2);
    transform-origin: right center;
    transform: rotateY(-90deg);
}

.book__pages::before,
.book__pages::after {
    width: var(--thick);
    height: calc(var(--witdh) - var(--inner));
}

.book__pages::before {
    transform-origin: center top;
    transform: rotateX(90deg);
}

.book__pages::after {
    top: unset;
    bottom: 0;
    transform-origin: center bottom;
    transform: rotateX(-90deg);
}

.counter-section {
    background-position: center;
    background-size: cover;
    padding: 50px 0;
    background-image: url(../images/tab-bg.webp);
}

.craft-text p {
    text-align: center;
    color: #fff;
    width: 90%;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
}

.footer-form ul li a {
    color: #fff;
    font-size: 14px;
}

.footer-form ul li {
    line-height: 22px;
    margin-bottom: 10px;
}

.slider {
    width: auto;
    margin: 0 auto;
    height: auto;
    min-height: 400px;
    position: relative
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    position: absolute;
    width: 100%;
    height: 100%
}

.slide1 {
    background: url(../images/key-book-01.png)no-repeat center;
    background-size: cover;
    animation: fade 15s infinite;
    -webkit-animation: fade 25s infinite
}

.slide2 {
    background: url(../images/key-book-02.png)no-repeat center;
    background-size: cover;
    animation: fade2 15s infinite;
    -webkit-animation: fade2 25s infinite
}

.slide3 {
    background: url(../images/key-book-03.png)no-repeat center;
    background-size: cover;
    animation: fade3 15s infinite;
    -webkit-animation: fade3 25s infinite
}

@keyframes fade {
    0% {
        opacity: 1
    }

    33.333% {
        opacity: 0
    }

    66.666% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }

    33.333% {
        opacity: 1
    }

    66.666% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }

    33.333% {
        opacity: 0
    }

    66.666% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.get-start-section::before {
    content: "";
    position: absolute;
    background: url(../images/cta-before.webp) center/75% no-repeat;
    width: 600px;
    height: 377px;
    left: -100px;
    bottom: -69px;
    animation: lifte_and_right 5s linear infinite;
}

.get-start-section::after {
    content: "";
    background: url(../images/cta-after.webp) center/cover no-repeat;
    width: 400px;
    height: 335px;
    right: 0;
    transform: translateY(-75%);
    position: absolute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    top: -40px;
    z-index: 2;
}

.form-field.has-error .form-input {
    border: 2px solid red;
}

.form-field .error-text {
    display: none;
    color: red;
    text-align: left;
}

.form-field.has-error .error-text {
    display: block;
}

.banner-publish ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.banner-publish ul li {
    font-size: 14px;
    color: #fff;
    position: relative;
    list-style: circle;
    width: 50%;
    line-height: 26px;
}

.book-slider img {
    width: 30%;
}

.book-slider img {
    width: 80% !important;
}

.number-icon {
    position: absolute;
    right: 10px;
    font-size: 35px;
    top: 0;
}

.publishing-number-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

.publishing-number-icon h6 {
    font-size: 40px;
    background-image: radial-gradient(circle, #b5b6b8, #b5b6b8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 0.08rem transparent;
    filter: drop-shadow(0.05rem 0.05rem rgba(0, 0, 0, 0.2));
}

.slider-books {
    background-image: url(../images/banner.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.thank-bg button {
    width: 180px;
    padding: 10px;
    border: none;
    background: #fe5f29;
    color: #fff;
    margin-right: 20px;
    border-radius: 7px;
    font-size: 17px;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
    display: block;
    margin: 10px auto 0;
    text-transform: uppercase;
    position: relative;
    z-index: 9999999;
}

.banner-buuton ul li a,
.counter-text-link ul li a,
.speak-buuton ul li a,
.agency-heading ul li a {
    width: 140px;
    padding: 12px;
    border: none;
    background: #fe5f29;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.get-start-section ul li a {
    width: 160px;
    padding: 12px;
    border: none;
    background: #fe5f29;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 rgb(240 149 5);
    -webkit-animation: pulse-icon-color-main 1.1s infinite;
    display: inline-block;
    text-align: center;
}
/*Setup the blinking sidebar*/
.aminater > span:after{
    content: "";
   /*The width is the actual sidebar thickness.*/
width: 5px;
   /*The height fits to the text*/
height: 100%;
background-color: #fe5f29;
   /*Position the sidebar at the right of the text*/
   position: absolute;
right: 0;
top: 0;
   /*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
animation: blink 1s infinite steps(2, start);
}
.aminater > span{
	/*Set the position to relative in order to place the sidebar then.*/
	position: relative;
}
/*Create the blinking animation by simply hide the element.*/
@keyframes blink {
to{
   visibility: hidden;
}

}
