@media (max-width: 1199px) {
    .info-contact-banner {
        background: #fff;
        height: 602px;
        width: 375px;
    }
    .imgs-sides {
        display: none;
    }
    .contentBox {
        width: unset;
        height: unset;
        padding: 50px 40px 30px 40px;
    }
    .resSection {
        display: block;
    }
    .sec2paradv {
        display: none;
    }
    .odd .contentBox {
        background-color: unset;
        padding: 0px;
        padding-top: 0px;
    }
    section.servicesSec {
        background-repeat: repeat !important;
    }
    a.themeBtn.serv {
        bottom: 37px;
    }
}
@media (max-width: 991px) {
    .contactSec {
        padding: 3rem 0 15rem;
    }
    header {
        position: absolute;
        top: 20px;
    }

    .testimonialSec {
        padding: 0 0px;
    }

    .mainbanner {
        background-size: cover;
    }
    .info-contact-banner {
        width: 100%;
        margin-top: 21px;
    }
    a.navbar-brand {
        margin: 0px auto;
    }
    .helpingSec {
        background-image: url(../../../../assets/lp/self-publishing/images/back-about.webp) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .about-img {
        background-color: #254e60 !important;
        background-image: none !important;
        padding: 36px 24px !important;
        margin-top: 15px !important;
        border-radius: 8px !important;
        height: unset;
    }
    .resCta {
        display: block;
        background-image: url(../../../../assets/lp/self-publishing/images/ctares.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 138px;
    }
    .ctaContent {
        padding: 20px;
    }
    .ctaContent h1 {
        color: #fff;
        font-size: 35px;
    }
    .cta {
        display: none;
    }
    .gtco-testimonials .owl-stage-outer {
        /* padding: 29px 0; */
        /* height: 980px !important; */
    }
    .noteSec::before {
        display: none;
    }
    footer {
        padding: 0px !important;
    }
    .noteSec p {
        width: 100%;
    }
}
@media (max-width: 991px) {
    ul.navLinks{flex-wrap: wrap;}
    ul.navLinks li{
        width: 100%;
    }
    .noteSec {
        background-color: #e8ecee;
        height: auto;
    }
    .ctaContent h1 {
        color: #000;
        font-size: 27px;
    }
    .gtco-testimonials {
        margin-top: 0px !important;
    }
    section.contactSec {
        background-image: none !important;
        background-color: none;
        /* height: 822px; */
    }
    .content {
        padding: 0px 0px 35px 0px;
    }
    footer p {
        margin-top: 9px;
    }
    .paymentSec {
        background-color: #e8ecee;
        height: 144px;
        padding: 8px 0;
    }
    img.payments {
        padding: 10px;
    }
    .container.ftDetail {
        display: block;
        text-align: center;
    }
    nav.navbar.navbar-expand-lg.justify-content-between {
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    ul.navLinks {
        display: flex;
        margin: 0 auto;
    }
    .mainbanner {
        padding: 170px 0 0;
        background: #05141a !important;
    }
    a.chat.borderbtn.headbtn {
        padding: 10px 26px;
        width: 197px;
        margin: 10px 0;
    }
    .navLinks li .themeBtn {
        color: #000;
        font-size: 1rem;
        width: 197px;
    }
    .navLinks li a {
        color: #fff;
        width: 100%;
    }
    .navbar-brand img {
        transition: 0.3s ease-in-out;
        height: 60px;
        width: auto;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
            hue-rotate(188deg) brightness(101%) contrast(101%);
    }
}
@media (max-width: 767px) {
    section.testimonialSec h6{
        padding-top: 0 !important;
    }
    ul.navLinks {
        gap: 1rem;
    }
    .names {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        /* top: -247px; */
        left: 0;
        right: 0;
        bottom: 0;
    }
    ul.navLinks li.first {
        display: none;
    }

    a.chat.borderbtn.headbtn {
        width: 100%;
        justify-content: center;
    }

    .navLinks li .themeBtn {
        font-size: 14px;
        width: 100%;
        justify-content: center
    }

    ul.navLinks li a h4 {
        font-size: 14px;
    }

    ul.navLinks li a i {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .secheading {
        font-size: 20px;
        margin-top: 20px;
    }

    .secheading span {
        font-size: 20px;
    }

    .banner-contnt p {
        margin-top: 32px;
    }

    .info-contact-banner h4 {
        font-size: 25px;
    }

    .info-contact-banner h6 {
        font-size: 25px;
    }

    .offer {
        font-size: 16px;
    }

    .info-contact-banner {
        height: 537px;
    }

    .themeBtn {
        font-size: 16px;
    }

    .btnSec {
        display: flex;
        gap: 22px;
    }

    .portwrp {
        padding: 36px 0px;
    }

    .portwrp .txtwrp h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .detailSec {
        padding: 3rem 0px;
    }

    ul.navLinks {
        display: inherit;
        /* position: absolute; */
        /* top: 0px; */
        /* left: unset; */
        /* right: 0; */
    }

    .navbar-brand img {
        height: 43px;
        text-align: center;
        margin: 0 auto !important;
        left: unset;
        display: flex;
        right: 0;
        margin: 0 0 9px 0 !important;
    }

    .banner-contnt {
        margin-top: 3rem;
    }

    .ctaContent {
        padding: 22px 0px 0px 0px;
    }

    .ctaContent h1 {
        font-size: 20px;
        text-align: center;
    }

    .ctaContent p {
        font-size: 14px;
        text-align: center;
        margin-top: 21px;
    }
}

@media (max-width: 480px) {
    .resCta {
        height: 170px;
    }
    .content {
        padding: 0px 18px 35px 18px;
    }
    section.contactSec {
        /* height: 849px; */
        height: auto;
    }
    .portwrp .imgwrp {
        margin: 7px auto 0;
    }

    .info-contact-banner {
        height: 574px;
    }

    .banner-contnt {
        margin-top: 5rem;
    }

    .themeBtn {
        font-size: 14px;
    }
}
